<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.tuna">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="test"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".FoodRecord">
        </activity>
        <activity android:name=".Food_Record">
        </activity>
        <activity android:name=".DessertMenu">
        </activity>
        <activity android:name=".LightFoodMenu">
        </activity>
        <activity android:name=".SoupMenu">
        </activity>
        <activity android:name=".DrinkMenu">
        </activity>
        <activity android:name=".RiceMenu">
        </activity>
        <activity android:name=".NoodlesMenu">
        </activity>
        <activity
                android:name=".MainActivity"
                android:screenOrientation="portrait"
                tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>